.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 12rem;
}

.nav-link {
  font-size: 18px;
}

.contain-header {
  padding-top: 80px;
  padding-bottom: 30px;
}

.row {
  width: 100%;
}

.movie-search {
  width: 500px;
  text-align: center;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1;
  gap: 20px;
  padding-bottom: 20px;
}

.genre-list {
  padding-top: 18px;
}

.genre {
  height: 50px;
}

.movie-genre {
  list-style-type: none;
}

.movie-title {
  font-weight: bold;
}

.movie-date {
  font-style: italic;
  margin-bottom: 5px;
}

.movie-rate {
  font-weight: bold;
  color: red;
}

.col-3 {
  background-color: white;
  color: black;
}

.col-9 {
  background-color: red;
  padding-top: 20px;
}